body {
  background-color: #000000;
  font-family: "Arial", sans-serif;
  text-align: center;
}

.container {
  max-width: 98%;
  margin: 20px auto;
  padding: 20px auto;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 48px;
  letter-spacing: 15px;
  color: rgb(29, 165, 41);
  text-transform: uppercase;
  text-shadow: 3px 3px 0px rgb(45, 109, 59);
}

.images {
  width: 95vw;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.images img {
  width: 350px;
  height: 350px;
  border: 2px solid rgb(31, 105, 24);
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Estilo ao passar o mouse (hover) */
.images img:hover {
  transform: rotate(10deg);
  /* Aumenta a imagem em 1.5 vezes */
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
  /* Aplica sombra */
}
